body {
  margin: 0;
  color: $font-color;
  font-family: $font-style;
  background: $base;
  background-image: url('../img/bock-danaT1.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 70% -30%;
  transition: background 0.5s linear;
  -webkit-transition: background 1.5s linear;
}
h1,
h2,
h3 {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $link-color), color-stop(100%, $heading-font-color)); background-image: -webkit-linear-gradient(#ffffff,$edge);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: $edge;
  text-shadow: 1px 1px 1px $edge;
  font-size: 2.5em;
}
h1 {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $link-color), color-stop(100%, $heading-font-color)); background-image: -webkit-linear-gradient(#ffffff,$edge);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $edge;
    text-shadow: 1px 1px 1px $font-color;
    font-size: 4.5em;
	a,
	a:visited,a:hover {
		text-decoration: none;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: none;
}
header {
	background: $heading-font-color;
}

main {

}

.toc {
	margin-top: 23%;
	text-align: right;
}

.container {
	
}

/* choosewisely */
choosewisely {
	
	background: #000;
	nav {
		ni {
			text-align: center;
			padding: 15px;
		} // ni
	} //nav
} //choosewisely

.floating-box {
	    display: inline-block;
	    width: 33.1%;
	    
	    border: 3px solid $edge;
}

footer {
	
}

.blues {
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $link-color), color-stop(100%, $heading-font-color)); background-image: -webkit-linear-gradient(#ffffff,$edge);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $edge;
    text-shadow: 1px 1px 1px $heading-font-color;
    font-size: 2.5em;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    background-color: $base-rgba;
    overflow-y: scroll;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
  text-decoration: none;
  color: $font-color;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: $link-color;
}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px !important;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .closebtn {
    font-size: 40px !important;
    top: 15px;
    right: 35px;
  }
}

.img-preload { visibility: none; }

.product, .bio, .article{
  background-color: $heading-font-color-rgba;
  margin: auto;
  border: 3px inset $edge;
  padding: 15px;
  overflow:hidden;
  width: 70%;
  /* Extra small devices (phones, less than 768px) */
  width: 70%;
  /* Small devices (tablets, 768px and up) */
  @media (min-width: $screen-sm-min) {
    width: 60%;
  }
  /* Medium devices (desktops, 992px and up) */
  @media (min-width: $screen-md-min) { 
    width: 50%;
  }
  /* Large devices (large desktops, 1200px and up) */
  @media (min-width: $screen-lg-min) { 
    width: 50%;
  }
  
  topic {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, $link-color), color-stop(100%, $heading-font-color)); background-image: -webkit-linear-gradient(#ffffff,$edge);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $edge;
    text-shadow: 1px 1px 1px $font-color;
    display: block;
    /* Extra small devices (phones, less than 768px) */
    font-size: 2em;
    padding: 4px;
    /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) {
      font-size: 2.5em;
      padding: 6px;
    }
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) { 
      font-size: 3.2em;
        padding: 8px;
    }
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: $screen-lg-min) { 
      font-size: 3.5em;
      padding: 10px;
    }
  }
  
  teaser {
    color: $link-color;
    margin: auto;
    /* Extra small devices (phones, less than 768px) */
    font-size: 1em;
    padding: 4px;
    /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) {
      font-size: 1.4em;
      padding: 6px;
    }
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) { 
      font-size: 1.5em;
        padding: 8px;
    }
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: $screen-lg-min) { 
      font-size: 1.8em;
      padding: 10px;
    }
  }
  
  sticker {
    color: $font-color;
    display: inline-block;
    line-height: 1;
    text-align: center;
    border-radius: .25em;
    background-color: $edge;
    margin: 3px;
    /* Extra small devices (phones, less than 768px) */
    font-size: .5em;
    padding: .2em .6em .3em;
    font-weight: 400;
    margin: 3px;
    /* Small devices (tablets, 768px and up) */
    @media (min-width: $screen-sm-min) {
      font-size: .8em;
      padding: .2em .6em .3em;
      font-weight: 500;
      margin: 4px;
    }
    /* Medium devices (desktops, 992px and up) */
    @media (min-width: $screen-md-min) { 
      font-size: .9em;
      padding: .2em .6em .3em;
      font-weight: 600;
      margin: 5px;
    }
    /* Large devices (large desktops, 1200px and up) */
    @media (min-width: $screen-lg-min) { 
      font-size: 1em;
      padding: .2em .6em .3em;
      font-weight: 700;
      margin: 6px;
    }
  }

  .repo-fa {
    float: right;
    font-size: 30px;
  }
  
  .repo-fa-na {
    float: right;
    font-size: 30px;
    color: $heading-font-color-rgba;
  }
  
} /* End Product */

.overlay-btn {
    color: $font-color;
}

.spacer-vertical {
  margin-top: 10px;
  margin-bottom: 15px;
}

.hidden {
  display: none;
}